body {
	background: #4CA1AF; /* fallback for old browsers */    
}
h1{
	font: bold 45px Arial;
	text-align: center;
}
.choices{
	font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px, 12px, 4px, 12px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
a:hover {
	color: red;
}
p {
	font: 15px Arial;
}
#choice{
	display: flex;
	justify-content: space-around;
}
a{
	color: white;
	text-decoration: none;
}
table {
	font: 17px Arial;
}
textarea {
	font-family: Arial;
}
